/* scrollbar */

/* width */
::-webkit-scrollbar {
    height: 4px;
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #151a34;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:horizontal {
    background: #060c18;
    border-radius: 10px;
  }
  
  * {
    -webkit-tap-highlight-color: transparent;
  }